@*<div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="population-growth">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#populationGrowth"
                               aria-expanded="false" aria-controls="populationGrowth" level="one">
                                Population Growth
                                <span class="fa fa-car"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="populationGrowth" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="population">
                        <div class="panel-body" level="one">
                            <p style="text-align:center">Population Growth</p>
                            <br />
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="row">
                                        <p>2001</p>
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <img class="img-responsive" src="~/Content/Image/population_single.png" style="height:80px; margin:0 auto;" />
                                    </div>
                                    <br />
                                    <div class="row">
                                        <p>4,863,084</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="row">
                                        <p>2018</p>
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <img class="img-responsive" src="~/Content/Image/population_triple.png" style="height:80px; margin:0 auto;" />
                                    </div>
                                    <br />
                                    <div class="row">
                                        <p>6,323,606</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="row">
                                        <p>2056</p>
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <img class="img-responsive" src="~/Content/Image/population.png" style="height:80px; margin:0 auto;" />
                                    </div>
                                    <br />
                                    <div class="row">
                                        <p>11,200,000</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="text">
                                <p style="text-align:justify;">
                                    The latest projections from the Victoria in Future 2019 report show Victoria’s population is growing by an average of 125,000 people per year.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="waste">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#climateChange"
                               aria-expanded="false" aria-controls="climateChange" level="one">
                                Climate Change
                                <span class="fa fa-car"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="climateChange" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="waste">
                        <div class="panel-body" level="one">
                            <p><p style='color:black;'>Wastes are unwanted materials which we do not need or discarded after primary use.</p>
                            <p style='color:black;'>For example:<ul style='color:black;'><li>Wastewater</li><li>Old newspapers</li><li>Waste detergents</li><li>Broken furniture</li><li>Ld batteries</li><li>etc.</li></ul></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="waste">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#waterContamination"
                               aria-expanded="false" aria-controls="waterContamination" level="one">
                                Water Contamination
                                <span class="fa fa-car"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="waterContamination" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="waste">
                        <div class="panel-body" level="one">
                            <p><p style='color:black;'>Wastes are unwanted materials which we do not need or discarded after primary use.</p>
                            <p style='color:black;'>For example:<ul style='color:black;'><li>Wastewater</li><li>Old newspapers</li><li>Waste detergents</li><li>Broken furniture</li><li>Ld batteries</li><li>etc.</li></ul></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        setTimeout(function () {
            InitCollapseFormat();
            SetCollapse();
        }, 100);

        function SetCollapse() {
            $(document).on('click','.panel-heading', function () {

                if ($(this).parent().parent()) {
                    var collp = $(this).parent().parent().find('.panel-collapse').removeClass('in');
                    //if (collp && collp.length > 0) {
                    //    for (x in collp) {
                    //        collp.removeClass('in');
                    //    }
                    //}

                    $(this).addClass('in');
                }
            })
        }
    </script>*@
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="waste">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#wasteText"
                           aria-expanded="false" aria-controls="wasteText" level="one">
                            Waste
                            <span class="fa fa-car"></span>
                        </a>
                    </h4>
                </div>
                <div id="wasteText" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="waste">
                    <div class="panel-body" level="one">
                        <p><p style='color:black;'>Wastes are unwanted materials which we do not need or discarded after primary use.</p>
                        <p style='color:black;'>For example:<ul style='color:black;'><li>Wastewater</li><li>Old newspapers</li><li>Waste detergents</li><li>Broken furniture</li><li>Ld batteries</li><li>etc.</li></ul></p>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="liquidWaste">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#waste" href="#liquidWasteText" aria-expanded="false"
                                       aria-controls="liquidWasteText" level="two">
                                        Liquid Waste
                                    </a>
                                </h4>
                            </div>
                            <div id="liquidWasteText" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="liquidWaste">
                                <div class="panel-body" level="two">

                                    <p style='color:black;'>The liquid waste is hazardous or potentially harmful to the environment or human. Liquid waste can be produced from every sector of the society such as food processing, manufacturing and agricultural processing.</p><p style='color:black;'>For example:<ul style='color:black;'><li>Wastewater</li><li>Fats</li><li>Used oils</li><li>Pesticides</li><li>Oil and water mixtures</li><li>Organic wastewater</li><li>etc.</li></ul></p>


                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="solidRubbish">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#waste" href="#solidRubbishText" aria-expanded="false"
                                       aria-controls="solidRubbishText" level="two">
                                        Solid Rubbish
                                    </a>
                                </h4>
                            </div>
                            <div id="solidRubbishText" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="solidRubbish">
                                <div class="panel-body" level="two">

                                    <p style='color:black;'>Solid rubbish is the unwanted and useless products that are found in the solid state. Generally, Solid rubbish is all type of garbage or rubbish that we make in our home and other places.</p>
                                    <p style='color:black;'>For example:<ul style='color:black;'><li>Old car tyres</li><li>Cardboard paper</li><li>Plastic cans</li><li>Dry garbage</li><li>Leftover food</li><li>etc.</li></ul></p>


                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="plasticWaste">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#solidRubbish" href="#plasticWasteText"
                                                   aria-expanded="false" aria-controls="plasticWasteText" level="three">
                                                    Plastic Waste
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="plasticWasteText" class="panel-collapse collapse"
                                             role="tabpanel" aria-labelledby="plasticWaste">
                                            <div class="panel-body" level="three">

                                                <p style='color:black;'>Plastic waste is the gathering of unwanted plastic objects and particles.</p><p style='color:black;'>For example:<ul style='color:black;'><li>Plastic bottle</li><li>Film</li><li>Pipes</li><li>Trays</li><li>Bags</li><li>etc.</li></ul></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="paperWaste">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#solidRubbish" href="#paperWasteText"
                                                   aria-expanded="false" aria-controls="paperWasteText" level="three">
                                                    Paper/Card Waste
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="paperWasteText" class="panel-collapse collapse"
                                             role="tabpanel" aria-labelledby="paperWaste">
                                            <div class="panel-body" level="three">

                                                <p style='color:black;'>Paper or card waste includes packaging materials, newspapers, card boards and from other materials.</p><p style='color:black;'>For example:<ul style='color:black;'><li>Cardboard</li><li>Old newspapers</li><li>Paper towel rolls</li><li>Paper bags</li><li>Washing powder boxes</li><li>Paper plates</li><li>etc.</li></ul></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="metalWaste">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#solidRubbish" href="#metalWasteText"
                                                   aria-expanded="false" aria-controls="metalWasteText" level="three">
                                                    Metal and Steels
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="metalWasteText" class="panel-collapse collapse"
                                             role="tabpanel" aria-labelledby="metalWaste">
                                            <div class="panel-body" level="three">

                                                <p style='color:black;'>Metal and tin waste usually comes from the workshops and other household items.</p>
                                                <p style='color:black;'>For example:<ul style='color:black;'><li>Lead pots</li><li>Mercury</li><li>Scrap metal</li><li>Unused metal cupboards</li><li>Metal furniture</li><li>etc.</li></ul></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="ceramicWaste">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#solidRubbish" href="#ceramicWasteText"
                                                   aria-expanded="false" aria-controls="ceramicWasteText" level="three">
                                                    Ceramics and Glass
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="ceramicWasteText" class="panel-collapse collapse"
                                             role="tabpanel" aria-labelledby="ceramicWaste">
                                            <div class="panel-body" level="three">
                                                <p style='color:black;'>We can recycle all the glass and ceramic products. We can get fibre-glass, jars, and bottles from recycled glass.</p>
                                                <p style='color:black;'>For example:<ul style='color:black;'><li>Broken bottles</li><li>Beer and wine bottles</li><li>Broken ceramic pots</li><li>etc</li></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="organicWaste">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#waste" href="#organicWasteText" aria-expanded="false"
                                       aria-controls="organicWasteText" level="two">
                                        Organic Waste
                                    </a>
                                </h4>
                            </div>
                            <div id="organicWasteText" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="organicWaste">
                                <div class="panel-body" level="two">
                                    <p style='color:black;'>Organic waste is material that usually comes from either a plant and or an animal. Organic waste is a very common household.</p>
                                    <p style='color:black;'>For example:<ul style='color:black;'><li>Food waste</li><li>Garden waste</li><li>Rotten meat</li><li>Green waste</li><li>Pruning waste</li><li>etc.</li></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="recycleRubbish">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#waste" href="#recycleRubbishText"
                                       aria-expanded="false" aria-controls="recycleRubbishText" level="two">
                                        Recycle Rubbish
                                    </a>
                                </h4>
                            </div>
                            <div id="recycleRubbishText" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="recycleRubbish">
                                <div class="panel-body" level="two">
                                    <p style='color:black;'>By using recycling process we can convert recycled rubbish into new materials for using again. Instead of throwing these items to general bin we should throw the rubbish into recycle bin.</p>
                                    <p style='color:black;'>For example:<ul style='color:black;'><li>Paper</li><li>Metals</li><li>Furniture</li><li>Organic waste</li><li>etc.</li></ul></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="hazardousWaste">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#waste" href="#hazardousWasteText"
                                       aria-expanded="false" aria-controls="hazardousWasteText" level="two">
                                        Hazardous Waste
                                    </a>
                                </h4>
                            </div>
                            <div id="hazardousWasteText" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="hazardousWaste">
                                <div class="panel-body" level="two">
                                    <p style='color:black;'>Hazardous waste is the cause of potential threats for the environment and the people. Hazardous wastes contain the properties that is harmful to human health. This type of wastes can be liquid, solid or even can contain gases. It includes all type of rubbish that is reactive, toxic, flammable, and poisonous.</p>
                                    <p style='color:black;'>For example:<ul style='color:black;'><li>Clinical wastes</li><li>Waste oils</li><li>Glues</li><li>Waste water</li><li>etc.</li></ul></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    setTimeout(function () {
        InitCollapseFormat();
        SetCollapse();
    }, 100);

    function SetCollapse() {
        $(document).on('click', '.panel-heading', function () {

            if ($(this).parent().parent()) {
                var collp = $(this).parent().parent().find('.panel-collapse').removeClass('in');

                $(this).addClass('in');
            }
        })
    }
</script>