<div class="panel-group" id="accordion" style="padding:2%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" role="button" href="#collapse1">Population Growth</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row" style="text-align:center;">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <p>2001</p>
                        </div>
                        <div class="row" style="text-align: -webkit-center;">
                            <img class="img-responsive" src="~/Content/Image/population_single.png" id="population" />
                        </div>
                        <br />
                        <div class="row">
                            <p>4,863,084</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <p>2016</p>
                        </div>
                        <div class="row" style="text-align: -webkit-center;">
                            <img class="img-responsive" src="~/Content/Image/population_triple.png" id="population" />
                        </div>
                        <br />
                        <div class="row">
                            <p>6,323,606</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <p>2056</p>
                        </div>
                        <div class="row" style="text-align: -webkit-center;">
                            <img class="img-responsive" src="~/Content/Image/population.png" id="population" />
                        </div>
                        <br />
                        <div class="row">
                            <p>11,200,000</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <p>
                            The latest projections from the Victoria in Future 2019 report show Victoria’s population is growing by an average of 125,000 people per year.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Climate Change</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="row" style="text-align: -webkit-center;">
                            @*<i class='fas fa-temperature-low' style='font-size:63px'></i>*@
                            <img class="img-responsive" src="~/Content/Image/low_hot.png" id="climate" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="row" style="text-align: -webkit-center;">
                            <i class='fas fa-arrow-right' style='font-size:63px' id="climate"></i>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="row" style="text-align: -webkit-center;">
                            @*<i class='fas fa-temperature-high' style='font-size:63px'></i>*@
                            <img class="img-responsive" src="~/Content/Image/hot.png" id="climate" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <p>The Earth's average temperature has increased by about 0.6 degrees Celcius during the 20th century.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Water Contamination</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row" style="text-align: -webkit-center;">
                        @*<i class='fas fa-temperature-low' style='font-size:63px'></i>*@
                        <img class="img-responsive" src="~/Content/Image/arrow2.png" id="climate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <p>The Earth's average temperature has increased by about 0.6 degrees Celcius during the 20th century.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 