@{
    ViewBag.Title = "Groundwater";
}

@*@Styles.Render("~/Content/substance")
    @Scripts.Render("~/bundles/substance")*@

<div class="row" id="groundwater">
    <div class="container-fluid">
        <div class=" row">
            <section class="first-section hero" style="background-image:url('../../Content/Image/heading-bg.png'); width: 100%">
                <div class="hero-inner text-context">
                    <p>Groundwater Pollution</p>
                    <div class="line-dec"></div>
                </div>
            </section>
        </div>
    </div>
</div>
<br />
<div class="row" id="litter-page">
    <div class="container-fluid">
        <div class="litter-page">
            <div class="container">
                <div class="row" id="introduction">
                    <p>
                        Mindless disposal of chemicals and waste products in the agricultural,
                        industrial and civil sectors often results in the contamination of
                        waterways. This often causes harm to the ecosystem or interferes with
                        the function of several ecological processes.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="row" id="title">
                        <p>Change to your title</p>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="funnelTooltip">
                    </div>

                    <div class="row" id="title">
                        <p>Things that can cause water pollution</p>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <img src="~/Content/Image/img2.jpg" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" id="bins" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <img src="~/Content/Image/red.png" draggable="false">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3" id="bins" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <img src="~/Content/Image/yellow.png" draggable="false">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3" id="bins" ondrop="drop(event)" ondragover="allowDrop(event)">
                                <img src="~/Content/Image/green.png" draggable="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="container">
                <div class="row">
                    <div class="row" id="title">
                        <p>The chemical content in waterways</p>
                    </div>
                    <div class="row">
                        <div class="row">
                            <p>Chemical pollution is the introduction of substances into the environment (by man) that are liable to harm human health, living resources, and ecological systems, damage structures or generally interfere with the legitimate use of the environment.</p>
                        </div>
                        <div class="row" id="">

                        </div>
                        <br />
                        <div class="row" id="">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>