@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="home">
    <div class="container-fluid">
        <div class=" row">
            <section class="first-section hero" style="background-image:url('../../Content/Image/first-section-bg.png'); width: 100%">
                <div class="hero-inner">
                    <br />
                    <br />
                    <br />
                    <br />
                    <p style="margin-left:30px; padding-left: 30px; margin-right:30px; padding-right:30px">
                        <b>
                            THERE'S ONLY 1% ACCESSIBLE FRESH WATER IN THE WORLD AND WE ARE POLLUTING IT.
                        </b>
                    </p>
                    <br />
                    <h4><b>LET'S STOP NOW.</b></h4>
                    <br />
                    <h4><b>LET'S START HERE.</b></h4>
                </div>
            </section>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="container-fluid" id="background">
        <div class="background-page">
            <br />
            <div class="container">
                <div class="row">
                    <p>
                        Victoria has several rivers, wetlands, estuaries, and coasts. However,
                        the quality of these Victorian water bodies is deeply affected in recent
                        years due to human use. This not only poses a threat to human life but
                        also affects the millions of creatures that are present in these waterways.
                    </p>
                </div>
            </div>
            @*<div class="jumbotron">
                    <h1>News</h1>
                    <p class="lead">Place holder for news</p>
                    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                </div>*@
            <br />
            <div class="container">
                <div class="row">
                    <div class="row" id="title">
                        <p>Main cause of contamination</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <img class="img-responsive" src="~/Content/Image/tree-graph.png" alt="tree graph"/>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>
                                The contamination of the two major channels of waterways:
                                Surface water and underground water occurs due to numerous reasons.
                                <br />
                                <ul>
                                    <li>
                                        Surface water contamination predominantly occurs due to disposal
                                        of harmful chemical substances and substandard agricultural practices
                                        like improper disposal of fertilizers.
                                    </li>
                                    <li id="bottom-li">
                                        The overuse of groundwater and increased salinity are the two main
                                        reasons for the contamination of underground water.
                                    </li>
                                </ul>
                            </p>
                        </div>
                        @*<div class="col-md-4 col-sm-12 col-xs-12">
                                <p>
                                    <br />
                                    Water contamination can be due to the following:<br />
                                    <ul>
                                        <li>Surface water contamination</li>
                                        <li>Underground water contamination</li>
                                    </ul>
                                    <br />
                                    <b>Surface water contamination:</b><br />
                                    The surface water gets contaminated due to climate change, disposal
                                    of harmful chemical substances, disposal of litter into the waterways
                                    and due to human activities which include agricultural use, breeding
                                    industry use, etc.<br />
                                    <br />
                                    <b>Underground water contamination:</b><br />
                                    The overuse of groundwater and increased salinity are the two main
                                    reasons for the contamination of underground water.<br />

                                    <br />
                                </p>
                            </div>*@
                    </div>
                    <br />
                    <div class="row">
                        <p>
                            At present, some of the waterways are still in natural conditions
                            while others have lost their attractiveness and have also become saltier
                            or have more nutrient levels. The water contamination is not only painful
                            and expensive to clean but have also affected the water storage levels.
                        </p>

                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <section class="third-section container-fluid">
                    <div class="container-fluid" id="introduction">
                        <div class="row">
                            <div class="row" id="title">
                                <p>Accessible water storage volume in Victoria</p>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6 hidden-xs hidden-sm right-text">
                                    <p>
                                        <br />
                                        <br />
                                        <b>Did you know??</b><br />
                                        In recent years, Victoria has noticed a significant decline in the levels of accessible water.<br />
                                        <br />
                                    </p>
                                    <p id="bullet-text">
                                        Main Reasons:<br />
                                        <ul>
                                            <li>Population Growth</li>
                                            <li>Climate Change</li>
                                            <li>Water Contamination</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <img class="img-responsive" src="~/Content/Image/bucket-final.png" alt="water storage level" />
                                </div>
                                <div class="col-xs-12 col-sm-12 hidden-md hidden-lg right-text">
                                    <p>
                                        <br />
                                        <br />
                                        <b>Did you know??</b><br />
                                        The average water volume in Victoria has decreased over the decade.<br />
                                        <br />
                                        At present, the average active volume of water in Victoria is 8M litters which are 2M less than in 2018.<br />
                                    </p>
                                    <p id="bullet-text">
                                        Main Reasons:<br />
                                        <ul>
                                            <li>Population Growth</li>
                                            <li>Climate Change</li>
                                            <li>Water Contamination</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="container">
                <div class="row" id="water-storage-level-prediction">
                    <div class="row" id="title">
                        <p>Water Storage Prediction</p>
                    </div>
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                        <div class='tableauPlaceholder' id='viz1567051669861' style='position: relative'>
                            <noscript>
                                <a href='#'>
                                    <img alt='water storage prediction' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Prediction&#47;Dashboard2&#47;1_rss.png' style='border: none' />
                                </a>
                            </noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='site_root' value='' />
                                <param name='name' value='waterStorage-Prediction&#47;Dashboard2' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='no' />
                                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Prediction&#47;Dashboard2&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                            </object>
                        </div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1567051669861');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width = '100%';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h2>Substance</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Substance &raquo;"), "Substance", "Home", null, null, null, null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <h2>Litter</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Litter &raquo;"), "Litter", "Home", null, null, null, null, new { @class = "btn btn-default" })</p>
    </div>
</div>
        
    @* For iteration 3*@
    @*<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>*@
