@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="home">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="~/Content/Image/samuel-zeller-Xl9zLLHqz3o-unsplash.jpg" alt="Litter" style="width:100%;">
                </div>

                <div class="item">
                    <img class="img-responsive" src="~/Content/Image/yarra-river-83116_1280.jpg" alt="Yarra River" style="width:100%;">
                </div>

                @*<div class="item">
                        <img src="ny.jpg" alt="New york" style="width:100%;">
                    </div>*@
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<br />

<div class="container-fluid" id="background">
    <br />
    <br />
    <br />
    <div class="background-page">
        <h2>Background</h2>
        <hr />
        <br />

        <div class="jumbotron">
            <h1>News</h1>
            <p class="lead">Place holder for news</p>
            @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </div>

        <br />

        <div class="container-fluid" id="introduction">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="~/Content/Image/causation-graph.png" />
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/Content/Image/tree-graph.png" />
                </div>
            </div>
            <div class="row">
                <p>
                    Water is an essential commodity which is not only used for drinking but
                    also used for growing agricultural products, industrial use and also
                    for doing many activities which support our happiness as well as the
                    economy. Victoria has unique rivers, wetlands, estuaries and coasts.
                    The quality of the Victorian waterways is deeply affected during recent
                    years due to human use. This not only poses a threat to human life but
                    also affects the millions of creatures which are present in these waterways.
                    At present, some of the waterways are still in natural conditions
                    while others have lost their attractiveness and have also become saltier
                    or have more nutrient levels. The water contamination is not only painful
                    and expensive to clean but have also affected the water storage levels.
                </p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6 hidden-xs hidden-sm">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class='tableauPlaceholder' id='viz1566628616033' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Australia-Overall-Line&#47;Sheet2&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='waterStorage-Australia-Overall-Line&#47;Sheet2' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Australia-Overall-Line&#47;Sheet2&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' /><param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566628616033');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class='tableauPlaceholder' id='viz1566628510752' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BackgroundPage&#47;Sheet1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='BackgroundPage&#47;Sheet1' />
                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BackgroundPage&#47;Sheet1&#47;1.png' />
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' /><param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566628510752');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-8">
                <div class='tableauPlaceholder' id='viz1566628445760' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-comparison-state-trend&#47;Sheet3&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='waterStorage-comparison-state-trend&#47;Sheet3' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-comparison-state-trend&#47;Sheet3&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566628445760');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="substance">
    <br />
    <br />
    <br />
    <div class="substance-page">
        <h2>Substance</h2>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <div class='tableauPlaceholder' id='viz1566714290157' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-Most-polluted-area&#47;Sheet1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='Substance-Most-polluted-area&#47;Sheet1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-Most-polluted-area&#47;Sheet1&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566714290157');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="col-md-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>

@* For iteration 2 and 3 *@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@