@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/index")
@Scripts.Render("~/bundles/index")

<!--Header section of the Landing page-->
<div class="row" id="home">
    <div class="container-fluid">
        <div class=" row">
            <section class="first-section hero" style="background-image:url('../../Content/Image/first-section-bg.jpg'); width: 100%">
                <div class="hero-inner">
                    <br />
                    <br />
                    <br />
                    <br />
                    <p style="margin-left:30px; padding-left: 30px; margin-right:30px; padding-right:30px">
                        <b>
                            THERE'S ONLY 1% ACCESSIBLE FRESH WATER IN THE WORLD AND WE ARE POLLUTING IT.
                        </b>
                    </p>
                    <br />
                    <h4><b>LET'S STOP NOW.</b></h4>
                    <br />
                    <h4><b>LET'S START HERE.</b></h4>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End of header section-->
<br />
<!--Landing page contents-->
<div class="row">
    <div class="container-fluid" id="background">
        <div class="background-page">
            <br />
            <!--Introduction-->
            <div class="container">
                <div class="row">
                    <p>
                        Victoria has several rivers, wetlands, estuaries, and coasts. However,
                        the quality of these Victorian water bodies is deeply affected in recent
                        years due to human use. This not only poses a threat to human life but
                        also affects the millions of creatures that are present in these waterways.
                    </p>
                </div>
            </div>
            <br />
            <br class="hidden-sm hidden-xs"/>
            <!--End of Introduction section-->
            <!--Main Causes of contamination section-->
            <div class="container">
                <div class="row">
                    <div class="row" id="title">
                        <p>Main Cause Of Contamination</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <img class="img-responsive" src="~/Content/Image/tree-graph.png" alt="tree graph" />
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <p>
                                The contamination of the two major channels of waterways:
                                Surface water and underground water occurs due to numerous reasons.
                                <br />
                                <ul>
                                    <li>
                                        Surface water contamination predominantly occurs due to disposal
                                        of harmful chemical substances and substandard agricultural practices
                                        like improper disposal of fertilizers.
                                    </li>
                                    <li id="bottom-li">
                                        The overuse of groundwater and increased salinity are the two main
                                        reasons for the contamination of underground water.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <p>
                                At present, some of the waterways are still in natural conditions
                                while others have lost their attractiveness and have also become saltier
                                or have more nutrient levels. The water contamination is not only painful
                                and expensive to clean but have also affected the water storage levels.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main cause section-->
            <br />
            <br class="hidden-lg hidden-md" />
            <br />
            <!-- Main Reasons of water crisis section-->
            <div class="row">
                <section class="third-section container-fluid">
                    <div class="container-fluid" id="introduction">
                        <div class="row">
                            <div class="row" id="title">
                                <p>Main Reasons of Water Crisis in Victoria</p>
                            </div>
                            <br />
                            <div class="row">
                                <p style="text-align:center;">There might be a water crisis in Victoria due to the decreasing of accessible water storage.</p>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-text">
                                    <div class="row" id="title">
                                        <p>Main Reasons</p>
                                    </div>
                                    <div class="row">
                                        @Html.Partial("~/Views/Home/_CollapseView.cshtml")
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="row" id="title">
                                        <p>Accessible water storage volume in Victoria (GL)</p>
                                    </div>
                                    <div class="row">
                                        <img class="img-responsive" src="~/Content/Image/bucket-white.png" alt="water storage level" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--End of Main reasons section-->
            <br class="hidden-lg hidden-md" />
            <!--Water storage level prediction section-->
            <div class="container">
                <div class="row" id="water-storage-level-prediction">
                    <div class="row" id="title">
                        <p>Water Storage Prediction</p>
                    </div>
                    <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                        <div class="row">
                            <p style="text-align:center">The overall trend of water storage in Australia (Blue Line) and Victoria (Orange Line) is decreasing.</p>
                            <p style="text-align:center">The water storage level will reach its bottom by 2021 in nearly a decade based on the prediction.</p>
                        </div>
                        <div class="row">
                            <div class='tableauPlaceholder' id='viz1568643437090' style='position: relative'>
                                <noscript>
                                    <a href='#'>
                                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WaterStorage-Prediction-final&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                                    </a>
                                </noscript>
                                <object class='tableauViz' style='display:none;'>
                                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                    <param name='embed_code_version' value='3' />
                                    <param name='site_root' value='' />
                                    <param name='name' value='WaterStorage-Prediction-final&#47;Dashboard1' />
                                    <param name='tabs' value='no' />
                                    <param name='toolbar' value='yes' />
                                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WaterStorage-Prediction-final&#47;Dashboard1&#47;1.png' />
                                    <param name='animate_transition' value='yes' />
                                    <param name='display_static_image' value='yes' />
                                    <param name='display_spinner' value='yes' />
                                    <param name='display_overlay' value='yes' />
                                    <param name='display_count' value='yes' />
                                    <param name='filter' value='publish=yes' />
                                </object>
                            </div>
                            <script type='text/javascript'>
                                var divElement = document.getElementById('viz1568643437090');
                                var vizElement = divElement.getElementsByTagName('object')[0];
                                vizElement.style.width = '100%';
                                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                var scriptElement = document.createElement('script');
                                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                vizElement.parentNode.insertBefore(scriptElement, vizElement);
                            </script>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <!--End of Water storage prediction section-->
        </div>
    </div>
</div>
<!--End of Landing page content section-->
<br class="hidden-sm hidden-xs" />
<br class="hidden-sm hidden-xs" />
<!--Hyperlink Box Section to take to Substance, Litter and Stormwater Pollution page-->
<div class="row">
    <div class="container-fluid last-section">
        <div class="row" id="title">
            <p>What other components pollute the waterways?</p>
        </div>
        <br class="hidden-xs hidden-sm" />
        <div class="row">
            @*<div class="col-md-1 col-lg-1"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <figure>
                    <div class="media" id="substance-box"></div>
                    <figcaption>
                        <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="mask-substance" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
                                    <text class="title" dx="50%" dy="2.5em">SUBSTANCE</text>
                                    <text class="title" dx="50%" dy="3.5em">POLLUTION</text>
                                </mask>
                            </defs>
                            <rect id="base-substance" x="0" y="0" width="100%" height="100%"></rect>
                        </svg>
                        <div class="body">
                            <p>Disposal of chemicals and waste from agriculture and industry are one of the biggest sources of pollution in waterways.</p>
                        </div>
                    </figcaption><a href="/Home/Substance"></a>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <figure>
                    <div class="media" id="litter-box"></div>
                    <figcaption>
                        <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="mask-litter" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
                                    <text class="title" dx="50%" dy="2.5em">LITTER</text>
                                    <text class="title" dx="50%" dy="3.5em">POLLUTION</text>
                                </mask>
                            </defs>
                            <rect id="base-litter" x="0" y="0" width="100%" height="100%"></rect>
                        </svg>
                        <div class="body">
                            <p>
                                The quality of water in the Victorian waterways is majorly affected due to the mindless disposal of litter.
                            </p>
                        </div>
                    </figcaption><a href="/Home/Litter"></a>
                </figure>
            </div>
            <div class="hidden-lg hidden-md col-sm-3 hidden-xs"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <figure>
                    <div class="media" id="stormwater-box"></div>
                    <figcaption>
                        <svg viewBox="0 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="mask-stormwater" x="0" y="0" width="100%" height="100%">
                                    <rect id="alpha" x="0" y="0" width="100%" height="100%"></rect>
                                    <text class="title" dx="50%" dy="2.5em">STORMWATER</text>
                                    <text class="title" dx="50%" dy="3.5em">POLLUTION</text>
                                </mask>
                            </defs>
                            <rect id="base-stormwater" x="0" y="0" width="100%" height="100%"></rect>
                        </svg>
                        <div class="body">
                            <p>
                                Every year a large amount of pollutants gets carried into the drains due to the rain, making the water unusable for various purposes.
                            </p>
                        </div>
                    </figcaption><a href="/gru/Index"></a>
                </figure>
            </div>
        </div>
    </div>
</div>
<!--End of Hyperlink section-->
<button class="btn btn-primary scroll-top" data-scroll="up" type="button">
    <i class="fas fa-chevron-up"></i>
</button>