@{
    ViewBag.Title = "Substance";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

@Styles.Render("~/Content/substance")
@Scripts.Render("~/bundles/substance")

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--Substance Pollution Header Section-->
<div class="row" id="substance">
    <div class="container-fluid">
        <div class=" row">
            <section class="first-section hero" style="background-image:url('../../Content/Image/Background/substance_heading.png'); width: 100%">
                <div class="hero-inner text-context">
                    <p><b>SUBSTANCE POLLUTION</b></p>
                    <hr />
                    <h4>Be part of the solution, not the pollution</h4>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End of header section-->
<br />
<!--Substance Pollution Content Section-->
<div class="row" id="substance-page">
    <div class="container-fluid" id="background">
        <div class="substance-page">
            <!--Intro to Substance Pollution Section-->
            <div class="container">
                <div class="row" id="introduction">
                    <p>
                        Mindless disposal of chemicals and waste products in the agricultural,
                        industrial and civil sectors often results in the contamination of
                        waterways. This often causes harm to the ecosystem or interferes with
                        the function of several ecological processes.
                    </p>
                </div>
            </div>
            <!--End of Intro section-->
            <br />
            <!--Image Grid Section-->
            <div class="container">
                <div class="row" id="title">
                    <p>Things That Can Cause Substance Pollution</p>
                </div>
                <div class="row">
                    <div class="row" id="lightbox">
                        <div class="column">
                            <img src="~/Content/Image/img1.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img2.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img3.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img4.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img5.jpg" style="width:100%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img6.jpg" style="width:100%" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img7.jpg" style="width:100%" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
                        </div>
                        <div class="column">
                            <img src="~/Content/Image/img8.jpg" style="width:100%" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
                        </div>
                    </div>

                    <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()" style="opacity:1;">&times;</span>
                        <div class="modal-content">

                            <div class="mySlides">
                                <div class="numbertext">1 / 8</div>
                                <img src="~/Content/Image/img1.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">2 / 8</div>
                                <img src="~/Content/Image/img2.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">3 / 8</div>
                                <img src="~/Content/Image/img3.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">4 / 8</div>
                                <img src="~/Content/Image/img4.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">5 / 8</div>
                                <img src="~/Content/Image/img5.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">6 / 8</div>
                                <img src="~/Content/Image/img6.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">7 / 8</div>
                                <img src="~/Content/Image/img7.jpg" style="width:100%">
                            </div>

                            <div class="mySlides">
                                <div class="numbertext">8 / 8</div>
                                <img src="~/Content/Image/img8.jpg" style="width:100%">
                            </div>

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>

                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>


                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Pesticides">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Detergent Bar">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Oil">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Paint">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Detergent">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Fertilizers">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img7.jpg" style="width:100%" onclick="currentSlide(7)" alt="Chlorine">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="~/Content/Image/img8.jpg" style="width:100%" onclick="currentSlide(8)" alt="Soaps">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of Image grid section-->
            <br />
            <br />
            <br class="hidden-lg hidden-md" />
            <br class="hidden-lg hidden-md" />
            <!--Most Polluted Area Map Section-->
            <div class="row">
                <section class="third-section container-fluid">
                    <div class="container" id="choropleth-map">
                        <div class="row" id="title">
                            <p>Polluted Area In Victoria</p>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class='tableauPlaceholder' id='viz1567507781168' style='position: relative'>
                                    <noscript>
                                        <a href='#'>
                                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PN&#47;PN98GSHJ9&#47;1_rss.png' style='border: none' />
                                        </a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='path' value='shared&#47;PN98GSHJ9' />
                                        <param name='toolbar' value='no' />
                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;PN&#47;PN98GSHJ9&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                        <param name='filter' value='publish=yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1567507781168');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    vizElement.style.width = '100%';
                                    vizElement.style.height = (divElement.offsetWidth * 0.5) + 'px';
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <p>
                                    The higher concentration of red indicates area that are severely polluted based on the main activity of the facilities
                                    in that area and the number of facilities.
                                    <br />
                                    <br />
                                    Top 5 most polluted suburbs:
                                    <ul>
                                        <li>Eaglehawk.</li>
                                        <li>Truganina.</li>
                                        <li>Cosgrove.</li>
                                        <li>Drysdale.</li>
                                        <li>Wollert.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <p>
                                Water used in the agricultural, industrial and civil sectors often contains
                                substances that can have adverse effect to the ecosystem. Hence this water must
                                not be discharged directly into the rivers.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <!--End of Most polluted map section-->
            <br />
            <!-- Chemical Content Section-->
            <div class="container">
                <div class="row" id="title">
                    <p>Chemical Contents In the Waterways</p>
                </div>
                <br />
                <div class="row">
                    <p>
                        Chemical pollution is primarily caused due to the careless disposal of harmful chemicals into
                        our waterways by the people. This not only harms human life but also affects the marine life of
                        Victoria. Apart from this, the substances get carried into the waterways during heavy rains.
                    </p>
                </div>
                <!--Chemical Bar section-->
                <div class="row" id="chemical-display">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="chemical-bar">
                                <!-- Plotly chart will be drawn inside this DIV -->
                            </div>
                            <script>
                                var data = [{
                                    type: 'bar',
                                    x: [97099, 94872, 85717, 62646, 22979, 12390, 12390, 12390, 12376, 12376, 136, 136, 100, 78, 78],
                                    y:
                                        ['Phosphorus', 'Kjeldahl Nitrogen', 'Fibre-Reinforced Plastic', 'Suspended Solids', 'Silicon Dioxide', 'Copper', 'Zinc', 'Lead', 'Chromium', 'Nickel'],
                                    orientation: 'h',
                                    marker: {
                                        color: ['#EF5350', "#FFA500", "#7E57C2", "#CDDC39", "#00BCD4", "#4CAF50", "#FFC107", "#34729E", "#95CE67", "#CAC461"],
                                        width: 1
                                    }
                                }];

                                var layout = {
                                    title: 'Top 10 Chemical Contents',
                                    showlegend: false,
                                    yaxis: {
                                        fixedrange: true,
                                        automargin: true,
                                        categoryorder: 'array',
                                        categoryarray:
                                            ['Molybdenum', 'Selenium', 'Fluorine', 'Cations', 'Anions', 'Nickel', 'Chromium', 'Lead', 'Zinc', 'Copper', 'Silicon Dioxide', 'Suspended Solids', 'Fibre-Reinforced Plastic', 'Kjeldahl Nitrogen', 'Phosphorus']
                                    },
                                    xaxis: {
                                        fixedrange: true,
                                        title: {
                                            text: 'Quantity Present'
                                        }
                                    }
                                };

                                Plotly.newPlot('chemical-bar', data, layout, { displayModeBar: false, responsive: true });
                            </script>
                        </div>
                        @*<div class="col-md-4 col-sm-12 col-xs-12">
                    <br class="hidden-xs hidden-sm" />
                    <br class="hidden-xs hidden-sm" />
                    <br class="hidden-xs hidden-sm" />
                    <p>
                        <br />
                        The great amount of Phosphorus and Nitrogen indicating the
                        main pollution comes from the living wastewater including disposal waste,
                        kitchen waste, etc. As to Slicon Dioxide, it shows that the high turbidity
                        of waterways and contains a lot of sand.
                    </p>
                    <br />
                </div>*@
                    </div>
                </div>
                <!--End of Chemical bar section-->
                <br />
                <!--Top 5 Chemicals Flip Card Section-->
                <div class="row">
                    <div class="container" id="substance-solution">
                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="element-card">
                                    <div class="front-facing">
                                        <h1 class="abr">P</h1>
                                        <p class="title">Phosphorus</p>
                                    </div>
                                    <div class="back-facing">
                                        <p>
                                            Phosphorus is found in most of the products such as garden fertilizers, kitchen wears,
                                            baking powder and also in organic food waste.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="element-card">
                                    <div class="front-facing">
                                        <h1 class="abr">N</h1>
                                        <p class="title">Kjeldahl Nitrogen</p>
                                    </div>
                                    <div class="back-facing">
                                        <p>
                                            Nitrogen is one of the primary components in the refrigerants which are mainly used in
                                            refrigerators and air conditioners. Apart from this, it is also present in organic waste,
                                            such as food waste.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="element-card">
                                    <div class="front-facing">
                                        <h1 class="abr">Solid</h1>
                                        <p class="title">Solids</p>
                                    </div>
                                    <div class="back-facing">
                                        <p>
                                            Approximately 4 billion plastic products are used in Australia every year, out of which
                                            about 150 million ends up in the waterways due to the careless disposal by the people.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="element-card">
                                    <div class="front-facing">
                                        <h1 class="abr">SiO2</h1>
                                        <p class="title">Silicon Dioxide</p>
                                    </div>
                                    <div class="back-facing">
                                        <p>
                                            A large amount of SiO2 in waterways is due to the sand that gets carried into the waterways
                                            during the rainy season, resulting in high water turbidity.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Chemical flip card section-->
            </div>
            <!--End of Chemical content section-->
            <br />
            <br />
            <!--Solution Flip Card Section-->
            <div class="row">
                <div class="container-fluid last-section">
                    <div class="row" id="title">
                        <p>Some tips to reduce Substance Pollution</p>
                        <h3 align="center">CARE FOR THE NATURE. SAVE THE FUTURE.</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="cardContainerSubstance inactive">
                                <div class="card">
                                    <div class="side front">
                                        <div class="img solution"></div>
                                        <div class="info">
                                            <h2 style="text-align: center;">Solution</h2>
                                            <p align="center">How can we reduce the susbstance pollution? </p>
                                        </div>
                                    </div>
                                    <div class="side back">
                                        <div class="info" style="background-color:lightblue">
                                            <h2 style="text-align: center;">Tips</h2>

                                            <ul>
                                                <li>Use environment friendly detergents.</li>
                                                <li>Use recycled products. </li>
                                                <li>Avoid pesticide and chemicals.</li>
                                                <li>Use of non-chemical pesticides and herbicides in gardens.</li>
                                                <li>Use products which are durable as well as with less packaging.</li>
                                                <li>Use fruit and vegetables waste as mulch.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="cardContainerSubstance inactive">
                                <div class="card">
                                    <div class="side front">
                                        <div class="img benefits"></div>
                                        <div class="info">
                                            <h2 style="text-align: center;">Benefits</h2>
                                            <p align="center">Benefits of recycling and energy consumptions</p>
                                        </div>
                                    </div>
                                    <div class="side back">
                                        <div class="info" style="background-color:lightgrey">
                                            <h2 style="text-align: center;">Disposal Tips</h2>
                                            <ul>
                                                <li>While making a can from recycled aluminium energy consumption is limited to only 5%.</li>
                                                <li>A great amount of harmful chemicals can be prevented from entering into landfills by adopting recycling techniques.</li>
                                                <li>Organic mulches reduce water consumption by 60% as it keeps the top layer of soil moist.</li>
                                                <li>The soil structure is greatly improved with the use of organic fertilizers.</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="cardContainerSubstance inactive">
                                <div class="card">
                                    <div class="side front">
                                        <div class="img tips"></div>
                                        <div class="info">
                                            <h2 style="text-align: center;">Safe Disposal Tips</h2>
                                            <p align="center">How to safely dispose chemical waste?</p>
                                        </div>
                                    </div>
                                    <div class="side back">
                                        <div class="info" style="background-color:lightblue">
                                            <h2 style="text-align: center;">Disposal Tips</h2>
                                            <ul>
                                                <li>Use appropriate containers while disposing of hazardous substances.</li>
                                                <li>Ensure that the substances do not mix with the disposal as there might be a violent reaction.</li>
                                                <li>Do not dispose of the electronic waste into the bins instead drop-off it at your nearest collection centers.</li>
                                                <li>Don’t throw paints, oils or other forms of litter down the drain.</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Script for solution flip card-->
                        <script type="text/javascript">
                            const cards = document.querySelectorAll('.card');

                            function transition() {
                                if (this.classList.contains('active')) {
                                    this.classList.remove('active');
                                } else {
                                    this.classList.add('active');
                                }
                            }

                            cards.forEach(card => card.addEventListener('click', transition));
                        </script>
                        <!--End of solution script-->
                    </div>
                </div>
            </div>
            <!--End of Solution flip card section-->
        </div>
    </div>
</div>
<!--End of Substance pollution content section-->