@{
    ViewBag.Title = "Home Page";
}

@*<div class="row" id="home">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="~/Content/Image/samuel-zeller-Xl9zLLHqz3o-unsplash.jpg" alt="Litter" style="width:100%;">
                </div>

                <div class="item">
                    <img class="img-responsive" src="~/Content/Image/yarra-river-83116_1280.jpg" alt="Yarra River" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>*@

<div class="row" id="home">
    <div class="container-fluid">
        <div class=" row">
            <div class="col-12" style="max-height: 400px; overflow: hidden;">
                <img src="~/Content/Image/samuel-zeller-Xl9zLLHqz3o-unsplash.jpg" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid" id="background">
    <br />
    <br />
    <br />
    <div class="background-page">
        <h2>Background</h2>
        <hr />
        <br />
        <div class="row">
            <p>
                Water is an essential commodity which is not only used for drinking but
                also used for growing agricultural products, industrial use and also
                for doing many activities which support our happiness as well as the
                economy. Victoria has unique rivers, wetlands, estuaries and coasts.
                The quality of the Victorian waterways is deeply affected during recent
                years due to human use. This not only poses a threat to human life but
                also affects the millions of creatures which are present in these waterways.
            </p>
        </div>
        @*<div class="jumbotron">
            <h1>News</h1>
            <p class="lead">Place holder for news</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@
        <br />
        <div class="row">
            <div class="row">
                <h3>Main cause of contamination</h3>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12" id="background-tree">
                    @*<img class="img-responsive" src="~/Content/Image/tree-graph.png" />*@
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <p>
                        <br />
                        Water contamination can be due to the following:<br />
                        <ul>
                            <li>Surface water contamination</li>
                            <li>Underground water contamination</li>
                        </ul>
                        <br />
                        <b>Surface water contamination:</b><br />
                        The surface water gets contaminated due to climate change, disposal
                        of harmful chemical substances, disposal of litter into the waterways
                        and due to human activities which include agricultural use, breeding
                        industry use, etc.<br />
                        <br />
                        <b>Underground water contamination:</b><br />
                        The overuse of groundwater and increased salinity are the two main
                        reasons for the contamination of underground water.<br />

                        <br />
                    </p>
                </div>
            </div>
            <div class="row">
                <p>
                    At present, some of the waterways are still in natural conditions
                    while others have lost their attractiveness and have also become saltier
                    or have more nutrient levels. The water contamination is not only painful
                    and expensive to clean but have also affected the water storage levels.
                </p>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <h3>Water contamination is potential threat to water crisis</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                    <img class="img-responsive" src="~/Content/Image/causation-graph.png" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <img class="img-responsive" src="~/Content/Image/anastasia-taioglou-CTivHyiTbFw-unsplash.jpg" alt="picture" style="height: 150px; width: 100%; overflow: hidden;"/>
    </div>
    <br />
    <div class="container-fluid" id="introduction">
        <div class="row">
            <h3>Accessible water storage volume in Victoria</h3>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5 hidden-xs hidden-sm">
                <p>
                    <br />
                    <br />
                    <b>Did you know??</b><br />
                    The average water volume in Victoria has decreased over the decade.<br />
                    <br />
                    At present, the average active volume of water in Victoria is 8M litters which are 2M less than in 2018.<br />
                    Main Reasons:<br />
                    <ul>
                        <li>Population Growth</li>
                        <li>Climate Change</li>
                        <li>Water Contamination</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <img class="img-responsive" src="~/Content/Image/output1-2.png" />
                @*<div class='tableauPlaceholder' id='viz1566628616033' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Australia-Overall-Line&#47;Sheet2&#47;1_rss.png' style='border: none' />
                            </a>
                        </noscript>
                        <object class='tableauViz' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='waterStorage-Australia-Overall-Line&#47;Sheet2' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Australia-Overall-Line&#47;Sheet2&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' /><param name='filter' value='publish=yes' />
                        </object>
                    </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1566628616033');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        vizElement.style.width = '100%';
                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>*@
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                <p>
                    <br />
                    <br />
                    <b>Did you know??</b><br />
                    The average water volume in Victoria has decreased over the decade.<br />
                    <br />
                    At present, the average active volume of water in Victoria is 8M litters which are 2M less than in 2018.<br />
                    Main Reasons:<br />
                    <ul>
                        <li>Population Growth</li>
                        <li>Climate Change</li>
                        <li>Water Contamination</li>
                    </ul>
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row" id="water-storage-level">
            <h3>The trend of water storage in different state</h3>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="row">
                    <br />
                    <p>
                        During recent years the water storage in Victoria has significantly reduced. For the present year, the water storage level is 6M Volume, which is approximately 3.5M less than the previous year.
                    </p>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class='tableauPlaceholder' id='viz1567051619129' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-tabview&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='waterStorage-tabview&#47;Dashboard1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='no' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-tabview&#47;Dashboard1&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1567051619129');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '900px';
                    vizElement.style.height = '667px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="hidden-md hidden-lg col-sm-12 col-xs-12">
                <div class="row">
                    <br />
                    <p>
                        During recent years the water storage in Victoria has significantly reduced. For the present year, the water storage level is 6M Volume, which is approximately 3.5M less than the previous year.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row" id="water-storage-level-prediction">
            <h3>Water Storage Prediction</h3>
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                <div class='tableauPlaceholder' id='viz1567051669861' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Prediction&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='waterStorage-Prediction&#47;Dashboard2' /><param name='tabs' value='no' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-Prediction&#47;Dashboard2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
                <script type='text/javascript'>var divElement = document.getElementById('viz1567051669861'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.minWidth = '720px'; vizElement.style.maxWidth = '1020px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
            </div>
            @*<div class="col-md-4 col-sm-12 col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>*@
        </div>
        @*<br />
            <br />
            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class='tableauPlaceholder' id='viz1566628445760' style='position: relative'>
                        <noscript>
                            <a href='#'>
                                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-comparison-state-trend&#47;Sheet3&#47;1_rss.png' style='border: none' />
                            </a>
                        </noscript>
                        <object class='tableauViz' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='waterStorage-comparison-state-trend&#47;Sheet3' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;wa&#47;waterStorage-comparison-state-trend&#47;Sheet3&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1566628445760');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        vizElement.style.width = '100%';
                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
                </div>
                <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>*@
    </div>
</div>

<br />

<div class="container-fluid" id="substance">
    <br />
    <br />
    <br />
    <div class="substance-page">
        <h2>Substance Pollution</h2>
        <hr />

        <div class="row" id="introduction">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <p>Water used in the agricultural, industrial and civil sectors often contains substances which will alter the ecosystem and hence must not be discharged directly into river flows.</p>
                <br />
                <p>Chemical pollution is the introduction of substances into the environment (by man) that are liable to harm human health, living resources, and ecological systems, damage structures or generally interfere with the legitimate use of the environment.</p>
                <br />
                <p>
                    <b>What are the household items which emit harmful substances?</b>
                    <ul>
                        <li>Laundry Detergents</li>
                        <li>All-Purpose Cleaners</li>
                        <li>Swimming Pool Chloride Tablets</li>
                        <li>etc.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <img class="img-responsive" src="~/Content/Image/jasmin-sessler-5Wfttm2CjeI-unsplash.jpg" alt="household_waste" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row" id="choropleth-map">
            <h3>Choropleth Map - Polluted area in Victoria</h3>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class='tableauPlaceholder' id='viz1566714290157' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-Most-polluted-area&#47;Sheet1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='Substance-Most-polluted-area&#47;Sheet1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='no' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-Most-polluted-area&#47;Sheet1&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566714290157');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <p>
                    <br />
                    The redder area indicating the severe water polluted area based on the main activity of the facilities in that area and the number of facilities.
                    <br />
                    <br />
                    Leongatha, Bowser and Bairnsdale are the most polluted suburbs in Victoria because they have a large number of facilities including landfill and treatment of wastewater. The area near Melbourne is heavily polluted mainly because of facilities that deal with the waste disposal and manufacture.
                </p>
            </div>
        </div>
        @*<br />
        <div class="row" id="water-turbidity">
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-6">
                <div class='tableauPlaceholder' id='viz1566720334771' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QH&#47;QHNYWYZS3&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='path' value='shared&#47;QHNYWYZS3' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QH&#47;QHNYWYZS3&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566720334771');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
        </div>*@
        <br />
        <br />
        <div class="row">
            <h3>Chemical content in waterways</h3>
        </div>
        <br />
        <div class="row" id="information">
            <p>Water used in the agricultural, industrial and civil sectors often contains substances which will alter the ecosystem and hence must not be discharged directly into river flows.</p>
            <br />
            <p>Chemical pollution is the introduction of substances into the environment (by man) that are liable to harm human health, living resources, and ecological systems, damage structures or generally interfere with the legitimate use of the environment.</p>
        </div>
        <div class="row" id="wordcloud">
            <div class="col-sm-3">
                
            </div>
            <div class="col-sm-6">
                <div id="my_dataviz"></div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <br />
        <div class="row" id="chemical-display">
            <h3>The chemical content in waterways</h3>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class='tableauPlaceholder' id='viz1566721902737' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-chemical-content&#47;Sheet1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='Substance-chemical-content&#47;Sheet1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='no' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;Substance-chemical-content&#47;Sheet1&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='filter' value='publish=yes' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1566721902737');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width = '100%';
                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <br />
                <br />
                <p>
                    P, N, SIO2, TSS, FRP are the top 5 chemical content in the waterways that shown in the word cloud. The great amount of P and N indicating the main pollution comes from the living wastewater including disposal waste, kitchen waste, etc. As to SiO2, it shows that the high turbidity of waterways and contains a lot of sand.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <h2>Take action now! Our waterways need your help</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="row">
                    <p>
                        <h4><b>How to solve the current situation?</b></h4>
                        <ul>
                            <li>Use Environmentally Friendly Detergents</li>
                            Whenever possible, get environmentally friendly detergents, soaps, and dishwashing liquids. While these are sometimes more expensive, you are doing the environment a great service by using less harmful substances.
                            <li>Avoid Pesticides</li>
                            If you need to overhaul your garden, attempt to do so without using any herbicides or pesticides. These are very harmful to the environment. Talk to landscaping companies in your area about environmentally-friendly replacements for these products.
                        </ul>
                        <br />
                    </p>
                </div>
                <div class="row">
                    <p>
                        <h4><b>How to dispose the substance safely to protect waterways?</b></h4>
                        <ul>
                            <li>Be careful about what you throw down your sink or toilet! Don’t throw paints, oils or other forms of litter down the drain. Use environmentally household products, such as washing powder, household cleaning agents and toiletries.</li>
                            <li>Take great care, not to overuse pesticides and fertilizers. This will prevent runoffs of the material into nearby water sources.</li>
                            <li>By having more plants in your garden you are preventing fertilizer, pesticides and contaminated water from running off into nearby water sources.</li>
                            <li>Don’t throw litter into rivers, lakes or oceans. Help clean up any litter you see on beaches or in rivers and lakes, make sure it is safe to collect the litter and put it in a nearby dustbin.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <br />
                <img class="img-responsive" src="~/Content/Image/tobias-tullius--wR0XMaegRo-unsplash (2).jpg" alt="rubbish-near-water"/>
            </div>
        </div>
    </div>
</div>

@* For iteration 2 and 3 *@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@