.demo {
    margin-top: 20px;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: solid 2px #577D9D;
    border-radius: 0;
    margin-bottom: 5px;
    box-shadow: none;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}

#accordion .panel-title a {
    display: block;
    padding: 20px 30px;
    margin: 0;
    background: #577D9D;
    font-size: 17px;
    font-weight: bold;
    color: #f9e2ad;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

/* horizontal line */
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "";
    width: 20px;
    height: 2px;
    background: #f9e2ad;
    position: absolute;
    top: 30px;
    right: 30px;
}

/* vertical line */
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
    content: "";
    width: 2px;
    height: 20px;
    background: #f9e2ad;
    position: absolute;
    bottom: 18px;
    right: 39px;
    transition: all 0.5s ease 0s;
}

#accordion .panel-title a:after {
    height: 0;
}

#accordion .panel-body {
    padding: 20px 30px;
    background: #fff;
    font-size: 15px;
    color: #000;
    line-height: 28px;
    letter-spacing: 1px;
}

#wasteBody {
    padding-top: 50px !important;
}

@media screen and (max-width: 375px) {
    #accordion .panel-title a {
        font-size: 13px !important;
    }

    #accordion .panel-title a:before, #accordion .panel-title a.collapsed:before {
        top: 24px !important;
        right: 5px !important;
    }

    #accordion .panel-title a:after, #accordion .panel-title a.collapsed:after {
        bottom: 20px !important;
        right: 14px !important;
    }

    #accordion .panel-body {
        padding: 20px 10px !important;
    }
}

#accordion .panel-title a {
    padding: 20px 10px !important;
}

#population, #climate {
    height: 80px;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    #treegraphPanel {
        display: none;
    }

    #TreeParagraph {
        display: block;
    }

    #tree-primary {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    #treegraphPanel {
        display: block;
    }

    #TreeParagraph {
        display: none;
    }

    #tree-primary {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    #treegraphPanel {
        display: none;
    }

    #TreeParagraph {
        display: block;
    }

    #tree-primary {
        display: none;
    }
}