#red-bin, #yellow-bin, #green-bin {
    float: left;
    padding: 10px;
    margin: 10px;
    -moz-user-select: none;
    width: 200px;
    height: 300px;
}



.litter {
    z-index: 100;
    cursor: -webkit-grab;
    cursor: grab;
}