.hero {
    /* Sizing */
    width: 100%;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    color: white; /* ADD THIS LINE */

    /* Background styles */
    background-image: url('~/Content/Image/first-section-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#substance .hero {
    padding: 10% 5% 20% 5%;
    margin-top: -5%;
    text-align: right;
}

#home .hero {
    padding: 25% 5% 20% 5%;
    margin-top: -24%;
    text-align: center;
}

.hero-inner p {
    font-size: 3em;
}

.hero-inner h4 {
    font-size: 2em;
}

.third-section {
    background-image: url('../Content/Image/third-section-bg.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    padding: 15% 5%;
    color: white;
}

.text-context {
    text-transform: uppercase;
    text-align: right;
}

@media (max-width: 1280px) {
    .hero {
        padding: 25% 5% 15% 5%;
        margin-top: -27%;
    }
}

@media (max-width: 992px) {
    .hero {
        padding: 20% 5% 25% 5%;
        margin-top: -15%;
    }

    .third-section {
        text-align: center;
    }

    .third-section .right-text {
        text-align: left;
    }

    .third-section .left-image img {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .third-section {
        margin-top: -50px;
        text-align: center;
        padding: 15% 5%;
    }

    .third-section .right-text {
        text-align: left;
    }

    .hero-inner p {
        font-size: 2.5em;
    }

    .hero-inner h4 {
        font-size: 1.5em;
    }
}


@media (max-width: 590px) {

    .third-section {
        text-align: center;
    }

    .third-section .left-image img {
        width: 80%;
    }

    .hero-inner p {
        font-size: 2em;
    }

    .hero-inner h4 {
        font-size: 1em;
    }
}

.container-block {
    background-color: #6a5f557a;
    opacity: 0.8;
    padding: 5% 2% 2% 2%;
    width: 90%;
    margin-top: 3%;
}

.container-block p {
    font-size: 1.1em;
}