body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #333;
}

ul {
    overflow: hidden;
}

li a:hover:not(.active) {
    background-color: #fff;
}

img {
    opacity: 1;
    filter: alpha(opacity=80); /* for IE 8 and earlier */
}

.hero {
    /* Sizing */
    width: 100%;
    height: 50%;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url('~/Content/Image/samuel-zeller-Xl9zLLHqz3o-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
 
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 400px) {
    .hero h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 1028px) {
    .hero h1 {
        font-size: 4em;
    }
}