body {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #333;
}

ul {
    overflow: hidden;
}

li a:hover:not(.active) {
    background-color: #fff;
}

img {
    opacity: 1;
    filter: alpha(opacity=80); /* for IE 8 and earlier */
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.gallery {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 1px;
    background: #fff;
    grid-column-gap: 0px;
    grid-row-gap: 3px;
    margin-left: 100px;
    margin-right: 100px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--4 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--7 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--8 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}

@media screen and (max-width: 768px) {*/
    .gallery {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 5vw);
        grid-gap: 1px;
        background: #fff;
        grid-column-gap: 0px;
        grid-row-gap: 3px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--3 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--5 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--6 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--7 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gallery__item--8 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 4;
    }
/*}*/

@media screen and (max-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 5vw);
        grid-gap: 1px;
        background: #fff;
        grid-column-gap: 0px;
        grid-row-gap: 3px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--4 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--6 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .gallery__item--8 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }
}

#how {
    position: relative;
    font-family: Arial;
    margin-left: 250px;
    margin-right: 250px;
}

.text-block {
    position: relative;
    bottom: 100px;
    right: 90px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    height: 300px;
    /* margin-left: 380px; */
}

@media screen and (max-width: 576px) {
    .text-block {
        right: 20px;
    }

    .text-block.ul.li {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .text-block {
        right: 20px;
    }
}

@media screen and (max-width: 992px) {
    .text-block {
        right: 110px;
    }
}

.text-block.ul.li {
    font-size: 15px;
}

.div.text-block {
    margin: 3%;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
}

#background {
    font-size: 1.3em;
}

#title {
    font-size: 1.5em;
    text-align: center;
}

#bottom-li {
    padding-top: 5%;
}

@media (max-width: 992px) {
    #background {
        font-size: 1.2em;
    }
}

@media (max-width: 850px) {
    #background {
        font-size: 1.1em;
    }
}