.modelDialogHeader {
    background-color: #283b8f;
    color: white;
}

.closeModelDialog {
    opacity: 1;
    color: white;
}

.questionModelDialog {
    font-weight: bold;
}

.answerModelDialog {
    text-align: justify;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#renderToDiv {
    width:70%;
}

#map-feature {
    width: 40%;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    #map-feature {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    #map-feature {
        width: 100%;
    }
}